@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Beastly";
    src: url("../public/fonts/RubikBeastly-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "BluuNext";
    src: url("../public/fonts/bluu-next/BluuNext-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "BluuNext";
    src: url("../public/fonts/bluu-next/BluuNext-Bolditalic.woff")
      format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-BlackItalic.woff")
      format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-LightItalic.woff")
      format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-ExtraLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-ExtraLightItalic.woff")
      format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Space-Mono";
    src: url("../public/fonts/space-mono/SpaceMono-Regular.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Space-Mono";
    src: url("../public/fonts/space-mono/SpaceMono-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Space-Mono";
    src: url("../public/fonts/space-mono/SpaceMono-Italic.woff2")
      format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Space-Mono";
    src: url("../public/fonts/space-mono/SpaceMono-BoldItalic.woff2")
      format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
}

@layer components {
  body {
    @apply selection:bg-pink-300;
  }

  article.document {
    @apply space-y-4 max-w-2xl w-full;
  }

  article.document a {
    @apply text-blue-600 underline;
  }

  article.document ol li {
    @apply list-decimal list-inside;
  }

  article.document code {
    font-variant-ligatures: none;
  }

  h1.slate-h1 {
    @apply mt-2 border border-white;
  }

  .no-focus-ring-inside div {
    @apply focus:outline-none;
  }

  .tiptap-toolbar button {
    @apply border border-black rounded-lg mr-4 px-2 my-1;
  }

  .pretty-background {
    position: absolute;
    width: calc(100vw * 5);
    height: 100vh;
    background: radial-gradient(#fff, #230f24);
    inset: 0 auto auto 0;
    z-index: -10;
  }

  .mix-invert {
    mix-blend-mode: difference;
  }

  .swipe-card {
    @apply relative flex items-center w-screen min-w-full grow min-h-screen snap-start snap-always;
  }

  .swipe-card .subheading {
    @apply relative w-20 md:w-60 h-[85vh];
  }

  .swipe-card h2 {
    @apply absolute w-0 h-0 left-4 bottom-10 text-left font-serif text-5xl whitespace-nowrap italic sm:text-6xl md:text-7xl -rotate-90;
  }

  .swipe-card p {
    @apply text-lg md:text-2xl mb-4;
  }

  .swipe-card .content {
    @apply columns-1 overflow-y-scroll md:overflow-y-visible md:columns-sm max-h-[85vh] ml-4 md:ml-8 mr-4 md:mr-8 gap-16;
  }

  section span {
    @apply -mt-2 font-serif text-7xl;
  }

  /* article.document a.a-unstyled {
    @apply text-black no-underline dark:text-gray-300;
  } */
}
