@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Beastly";
    src: url("../public/fonts/RubikBeastly-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "BluuNext";
    src: url("../public/fonts/bluu-next/BluuNext-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "BluuNext";
    src: url("../public/fonts/bluu-next/BluuNext-Bolditalic.woff")
      format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-BlackItalic.woff")
      format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-LightItalic.woff")
      format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-ExtraLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/worksans/WorkSans-ExtraLightItalic.woff")
      format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Space-Mono";
    src: url("../public/fonts/space-mono/SpaceMono-Regular.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Space-Mono";
    src: url("../public/fonts/space-mono/SpaceMono-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Space-Mono";
    src: url("../public/fonts/space-mono/SpaceMono-Italic.woff2")
      format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Space-Mono";
    src: url("../public/fonts/space-mono/SpaceMono-BoldItalic.woff2")
      format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
}

@layer components {
  article.document {
    @apply space-y-4 max-w-2xl w-full;
  }

  article.document a {
    @apply text-blue-600 underline;
  }

  article.document ol li {
    @apply list-decimal list-inside;
  }

  article.document code {
    font-variant-ligatures: none;
  }

  h1.slate-h1 {
    @apply mt-2 border border-white;
  }

  .no-focus-ring-inside div {
    @apply focus:outline-none;
  }

  .tiptap-toolbar button {
    @apply border border-black rounded-lg mr-4 px-2 my-1;
  }

  .grid-box {
    display: grid;
    grid-template-rows: repeat(3, 100vh);
    grid-template-columns: repeat(3, 100vw);
  }

  .pretty-background {
    position: absolute;
    width: calc(100vw * 3);
    height: calc(100vh * 3);
    background: radial-gradient(#e66465, #9198e5);
    inset: 0 auto auto 0;
    z-index: -10;
  }

  /* article.document a.a-unstyled {
    @apply text-black no-underline dark:text-gray-300;
  } */
}
